.navbar {
  width: auto;
  height: 100%;
  background: #171921de;
  color: #fff;
  border-bottom: 1px solid #ccc;
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 10px;

  img {
    width: 8%;
  }
  a {
    text-decoration: none;
    display: flex;
    color: #fff;

    &:hover {
      color: #f3b542;
    }
  }
  h1 {
    margin-left: 10px;
    font-size: 30px;
    color: #fff;
    span {
      color: #d65108;
    }
  }
// StyleHearder
  &-heading {
    align-items: center;
    img {
      width: 8%;
    }
    a {
      text-decoration: none;
      display: flex;
    }
    h1 {
      margin-left: 10px;
      font-size: 30px;
      color: #fff;
      span {
        color: #d65108;
      }
    }
  }

  &-links {
    ul {
      width: auto;
      display: flex;
      list-style: none;
    }

    a {
      color: #fff;
      text-decoration: none;
      // margin: 0px 10px;
      padding: 10px;
      background: lighten($color: #000000, $amount: 15);
      border-radius: 5px;
      font-size: 20px;
      transition: all 0.4s ease;

      &:hover {
        color: #f3b542;
      }
    }
  }
}
.navbar.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background: #171921de !important;
}
.navbar.active.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background: rgba(0, 0, 0, 0.5) !important;
  transition: all 0.5s;
}
.navbar-brand {
  align-items: center;

  h1 {
    margin-bottom: 0;
  }
}
.navbar-dark .navbar-toggler {
  position: absolute;
  right: 20px;
  top: 17px;
}
